<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{%block title_block%}base html {%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static "css/style.css"%}">
  </head>
  <body>
    <nav>
      <nav class="navigationbar navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link navbarimportant" href="{%url "appone:what_i_learned"%}">All I have learned so far <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                {%block login_block%}
                {%if user.is_authenticated%}
                <a class="nav-link" href="{%url "accountapp:logout"%}">Logout</a>
                {%else%}
                <a class="nav-link" href="{%url "accountapp:login"%}">Login</a>
                <li class="nav-item">
                  <a class="nav-link" href="{%url "accountapp:register"%}">Register</a>
                </li>
                {%endif%}
                {%endblock%}
              </li>
            </ul>
          </form>
        </div>
      </nav>
    </nav>

    <div class="container jumbotron">
      {%block body_block%}
      still base.html
      {%endblock%}
    </div>
      {%block body_block2%}
      still base.html
      {%endblock%}


  </body>
</html>
