body{
  font-family: 'Karla', sans-serif;
}

.navigationbar{
  background-color: #CEECC5;
}

.jumbotron{
  margin-top: 2rem;
  height: 100rem;
  text-align: center;
  border: 2px solid black;

}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textblock{
  margin-top: 2rem;
}

.navbarimportant{
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
}

.mcard{
  margin: 10px;
}



.mimage{
  border-radius: 20px;
  border: 2px solid black;
  width: 80%;
  max-height: 600px;
}

.mlist{
  list-style-type: none;
  height: 400px;

}

.col{
  width: 50%
}
