body{
  font-family: 'Karla', sans-serif;
}

.navigationbar{
  background-color: #CEECC5;
}

.jumbotron{
  margin-top: 2rem;
  height: 100rem;
  text-align: center;
  border: 2px solid black;

}

.textblock{
  margin-top: 2rem;
}

.navbarimportant{
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
}

.mcard{
  margin: 10px;
}

.malign{
  text-align: center;
}

.mimage{
  border-radius: 20px;
  border: 2px solid black;
  width: 80%;
}
