{%extends "base.html"%}

{%load staticfiles %}


{%block body_block%}
  <img src="{% static "images/treehouse.jpg" %}" class="img-fluid" alt="Responsive image">
  <p class = "textblock">This Page shows all my progress in learning Webdevelopment.</p>

<div class="flex-container row align-items-start">
  <div class="card mcard" style="width: 18rem;">
    <img src="{% static 'images/urls.jpg'%}" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">urls.py</h5>
      <p class="card-text">Example on how to set up the urls.py file</p>
      <a href="{% url "appone:urlinfo" %}" class="btn btn-primary">Click for more</a>
    </div>
  </div>


  <div class="card mcard" style="width: 18rem;">
    <img src="{% static 'images/lena.jpg'%}" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">Lena's Seite</h5>
      <p class="card-text">That's ma gurl yo</p>
      <a href="{% url "appone:cookbook" %}" class="btn btn-primary">The Cookbook</a>
    </div>
  </div>

  <div class="card mcard" style="width: 18rem;">
    <img src="{% static 'images/urls.jpg'%}" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">Flexboxes</h5>
      <p class="card-text">Me trying to get them stupid cards in the same height</p>
      <a href="{% url "appone:flexboxes" %}" class="btn btn-primary">Flex yo</a>
    </div>
  </div>

  <div class="card mcard" style="width: 18rem;">
    <img src="{% static 'images/urls.jpg'%}" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">Javascript</h5>
      <p class="card-text">This area is all about trying out Javascript concepts</p>
      <a href="{% url "appone:javascript" %}" class="btn btn-primary">Get started</a>
    </div>
  </div>
</div>

{%endblock%}
